<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h3>Elbert Software (EBS):</h3>
    <p>Found by Kenneth Pham</p>
    <a href="https://github.com/elbertsoftware" target="_blank">GitHub</a>

    <br/>

    <h3>Southern Institute of  Water Resources Search (SIWRR):</h3>
    <p>Vietnam</p>
    <a href="http://en.vawr.org.vn" target="_blank">Website</a>

    {% endblock %}
  </body>
</html>